/* Reset some basic styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9ff33;
    color: #333;
}

header {
    background-color: DodgerBlue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: #f9ff33;
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    text-align: center;
}

footer {
    background-color: DodgerBlue;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.extra-content {
    margin-top: 20px;
    padding: 15px;
}

table {
    margin: 0 auto;
}